@font-face {
  font-family: "Pokefont";
  src: url("pokefont.ttf") format("truetype");
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(20deg);
  }
}
html {
  font-size: 16px;
}
body {
  box-sizing: border-box;
  font-family: "Pokefont", "Courier", monospace;
  line-height: 1.5rem;
}
.container {
  margin: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}
.item {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 2rem;
}
.item:hover {
  border-radius: 3px;
  background-color: #ffeba6;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.item::before {
  content: "#" attr(data-num);
  position: absolute;
  top: 8px;
  left: 8px;
  color: #3b6e9e;
  transform: rotate(-15deg);
}
#modal {
  /* display: none; */
  display: flex;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(74, 69, 69, 0.7);
  align-items: center;
  justify-content: center;
}
.modal-prev,
.modal-next {
  font-size: 3rem;
  cursor: pointer;
  padding: 1rem;
  font-weight: bold;
}
.modal-close {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #f9f6f6;
  width: 1.2rem;
  height: 1.2rem;
  /* color: white; */
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
  border-radius: 2px;
  cursor: pointer;
}
.modal-content {
  border: 4px solid black;
  border-radius: 3px;
  background-color: #f5eae9;
  box-shadow: 0px 0 20px -3px #ea5252;
  width: 100%;
  max-width: 350px;
  /* height: 800px; */
  max-height: calc(100% - 100px);
  padding: 2rem;
  overflow: auto;
  position: relative;
}
.modal-content__header {
  display: grid;
  grid-template-columns: 1fr 3rem;
  grid-gap: 1rem;
}
.modal-content__header__name {
  font-size: 1.5rem;
  word-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
}
.modal-content__header__number {
  display: flex;
  justify-content: flex-end;
}
.modal-content__body {
  display: grid;
  grid-gap: 1rem;
}
.modal-content__body__sprite {
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-content__body__sprite img {
  width: 100%;
  max-width: 300px;
}
.modal-content__body__stats {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.modal-searching__body__sprite,
.modal-searching__body__error {
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-searching__body__sprite img,
.modal-searching__body__error img {
  width: 5rem;
}
.loading {
  animation: rotate 1s infinite alternate;
}
.hide {
  display: none !important;
}
.hidden {
  visibility: hidden;
}

@media screen and (max-width: 450px) {
  html {
    font-size: 11px;
  }
  .container {
    grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
  }
}
